

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#215;</button>
        <h4 class="modal-title" id="myModalLabel">Create A New Account</h4>
      </div>

      <div class="modal-body">
      <%= form_for @user do |f| %>

        <%= f.label :username, "Username" %><br />
        <%= f.text_field :username, class: 'form-control', placeholder: "Username" %><br>

        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control', placeholder: "Password"  %><br>

        <%= f.label :password_confirmation, "Password Confirmation" %><br />
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm Password"  %><br>

      </div>
      <div class="modal-footer">

        <%= f.submit "Create Account!", class:'btn btn-primary'%>

      <% end %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
    </div><!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal fade -->